.sinTacc {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    border: 0cm;
}

.img-fluid {
    height: fit-content;
}
.banner {
    background-color: grey;
    text-align: center;
    color: white;
    padding: 1em;
}
.contenedor {
    height: fit-content
}
.seccionRecetas {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
}

.recipe{
    width: 25rem;
    
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    
}