.sinTacc {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    border: 0cm;
}

.img-fluid {
    height: fit-content
}
.banner {
    background-color: grey;
    text-align: center;
    color: white;
    padding: 1em;
}
